{% extends "base.html" %}
{% block page_content %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<div class="flex"  >
    <div id="img-1">
        <img src="{{post.images.url}}" alt="imgae">
    </div>
    <div class="v1">
        <div >
            <!-- <h5 style="font-family: chilanka;font-size: 4em;margin-top:10px;padding-top:15px;padding-bottom:15px;"><u> {{ post.title }} </u></h1> -->
            <h3><b>{{post.title}}</b></h3>   
            <!-- <hr> -->
            
                <h3 style="font-family: chilanka;"> Posted on:
                {{ post.created_on.date }} &nbsp; </h3>
                <h3 style="font-family: chilanka;"> Categories:&nbsp;
                {% for category in post.categories.all %}
                <a href="{% url 'blog_category' category.name %}">
                    {{ category.name }}
                </a>&nbsp;
                {% endfor %}
                </h3>
        </div>

        <!-- <hr> -->
        <div>
                <p style="font-size:23px; font-family: 'Raleway', sans-serif;">{{ post.body | linebreaks }}</p>
        </div>

    
    </div>
</div>
    

    
    <div class="container" style="padding: 20px;">
    <h1 style="font-family: Lato;padding: 20px;"> <u> Write a review:</u></h1>
    <form action="/blog/{{ post.pk }}/" method="post">
        {% csrf_token %}
        <div class="input-field col s12 ">
            <h2 >Name:</h2>
            {{ form.author }}
        </div>
        <div class="input-field col s12 ">
            <h2 >Comment:</h2>
            {{ form.body }}
        </div>
        <button type="submit" class="waves-effect waves-light btn-small">Post Comment</button>
    </form>
    </div>
    <hr>
    <h3 id='comment'>COMMUNITY REVIEWS</h3>
    {% for comment in comments %}
    <p>
        On {{comment.created_on.date }}&nbsp;
        <b>{{ comment.author }}</b> wrote:
    </p>
    <p>{{ comment.body }}</p>
    
    {% endfor %}
    <hr>
</div>

<br>
<br>
<br>
<br>
{% endblock %}